.landing {
  >h1 {
    margin-top: 16vh;
    font-weight: normal;
    text-align: center;

    b {
      color: $mint;
    }
  }

  .phone-field {
    width: 100%;
    text-align: center;

    >input {
      display: block;
      width: 40%;
      margin: 0px auto;
      padding-top: 40px;

      font-size: 30px;
      text-align: center;

      border-radius: 0;
      border: none;
      border-bottom: 2px solid #dfdfdf;

      background-color: #18191B;
    }

    >p {
      text-align: center;
      font-size: 11px;
    }

    >button {
      margin-top: 32px;
      display: block;
      margin: auto;
    }
  }
}